meta(name='description' content='A simple & beautiful app for Facebook Messenger. Chat without distractions on any OS. Unofficial.')
meta(name='keywords' content='facebook, messenger, chat, conversations, desktop, client, download')
meta(name='application-name' content='Messenger for Desktop')

meta(property='og:title' content='Messenger for Desktop')
meta(property='og:description' content='A simple & beautiful app for Facebook Messenger. Chat without distractions on any OS. Unofficial.')
meta(property='og:type' content='website')
meta(property='og:image' content='http://messengerfordesktop.com/img/preview.jpg')
meta(property='og:url' content='http://messengerfordesktop.com')

meta(name='twitter:card' content='summary_large_image')
meta(name='twitter:image' content='http://messengerfordesktop.com/img/preview.jpg')
